build/
__pycache__/
venv/


.aux
.fdb*
.fls
.log
.nav
.out
.snm
.toc
.vrb
.synctex.gz


serial_cpp_medium.trace/
slides/project_presentation.nav
slides/project_presentation.snm
slides/project_presentation.synctex.gz
slides/project_presentation.vrb
